.user-profile {
  height: 50px;
  width: 50px;
}
.user-info-container {
  height: 20vh;
  width: 20vw;
  color: black;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.user-name {
  font-size: 14px;
  margin: 0px;
}

.user-role {
  font-size: 10px;
  color: #9aa5b1;
}
